 #root{
  margin: 50px auto;
  padding: 16px;
  min-height: 580px;
  max-width: 900px;
  background-color: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 40px 40px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
 }   