@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

h1{
    width: 80%;
    margin: 30px 0;
    background-color: #fdc66e;
    border-radius: 10px;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    padding: 2rem 1.2rem;
    color: #494a4b;
    text-align: center;
    font-weight: 700;
    font-family: "Architects Daughter", sans-serif;
}